---
layout: handbook-page-toc
title: Secure and Protect Section Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('Secure and Protect Section') %>
