---
layout: markdown_page
title: "Section Direction - Ops - Tiering Strategies"
description: "The GitLab Ops Section - Tiering Strategies"
canonical_path: "/direction/ops/tiering"
---

## Tiering Strategies by Stage

### Verify
<%= partial("direction/ops/tiering/verify") %>

### Package
<%= partial("direction/ops/tiering/package") %>

### Release
<%= partial("direction/ops/tiering/release") %>

### Configure
<%= partial("direction/ops/tiering/configure") %>

### Monitor
<%= partial("direction/ops/tiering/monitor") %>