.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header{style: "background: url('/images/events/prague-unsplash.jpg') center 20% no-repeat; background-size: cover;"}
  .header-content
    = image_tag "/images/events/gitlab-contribute-icon-web.png", class: "hero-image", alt: "GitLab logo"
    %h1 GitLab Contribute
  %p.alert.alert-gitlab-purple.text-center
    -# (commented out) %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    -# (commented out) Counting down to March 22nd 2020!
    -# (commented out) %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    %br
    %span.h3#nextSummitCountdown
