.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 What are the advantages of GitLab CI/CD?
    %ul
      %li
        %b Integrated:
        GitLab CI/CD is built into GitLab, enabling a single conversation from planning to deployment (and beyond)
      %li
        %b Open source:
        CI/CD is a part of both the open source GitLab Community Edition and the proprietary GitLab Enterprise Edition
      %li
        %b Easy to learn:
        See our
        %a{href: "https://docs.gitlab.com/ee/ci/quick_start/"} Quick Start
        guide
      %li
        %b Seamless:
        Part of the single GitLab application, with a single great user experience
      %li
        %b Scalable:
        Tests run distributed on separate machines – add as many as you want
      %li
        %b Faster results:
        Each build can be split in multiple jobs that run in parallel on multiple machines
      %li
        %b Optimized for delivery:
        Multiple stages, manual deploy gates,
        %a{href: "https://docs.gitlab.com/ee/ci/environments.html"} environments,
        and
        %a{href: "https://docs.gitlab.com/ee/ci/variables/"} variables
.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/ci/ci-cd-test-deploy-illustration_2x.png", alt: "GitLab CI/CD", style: "margin-top: 40px;"
%hr.divider/
